AlgoTest.java
out/
./.idea/
*.iml
/.idea/.gitignore
/.idea/checkstyle-idea.xml
/.idea/codeStyles
/.idea/dbnavigator.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/tests/
/.idea/libraries/junit_junit_4_13_2.xml
/.idea/libraries/org_hamcrest_hamcrest_2_1.xml
/.idea/uiDesigner.xml
/lib/
